body {
    /* background-color: #f5f5f5; */
    background: linear-gradient(rgba(245, 245, 245, 0.7), rgba(245, 245, 245, 0.7)),
        url("../images/bg_std.png");
    /* background: linear-gradient(rgba(245, 245, 245, 0.7), rgba(44, 62, 80, 0.7)),
        url("../images/bg_std.png"); */
    background-repeat: no-repeat;
    background-size: cover;


    margin: 0;
    padding: 0;
    font-family: "Bodoni MT", serif;
    overflow-y: scroll;
    caret-color: transparent;
    font-size: 18px;
}

header {
    color: #4E195F;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../images/bg_std.png");
    background-repeat: no-repeat;
    background-size: cover;

    border-bottom: #4E195F;
}

.title {
    margin: 0;
    font-size: 36px;

    /* color: #fff; */
    /* font-family: 'Lobster Two', cursive; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Grand Hotel', cursive; */
    font-family: 'Roboto Condensed', sans-serif;
    /* font-weight: bold; */
    /* font-size: 48px; */
    /* text-align: center; */
    /* margin: 0; */
}

.upper-header {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

h2 {
    font-variant: small-caps;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #4E195F;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #444;
}


nav a:hover .icon-home {
    color: unset;
    fill: #1EAEDB;
}

.icon-home {
    fill: #4E195F;
}

.icon-menu {
    fill: #4E195F;
    vertical-align: -20%;
}

.icon {
    vertical-align: -20%;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: 'Bodoni MT', serif;
}

.c-left {
    margin-bottom: 15px;
    text-align: left;
}

/* RSVP */

.rsvp {
    caret-color: black;
    /* overflow: hidden; */
    /* outline: none; */
    /* text-align: left; */
    /* margin-bottom: 15px; */
}

.button-group {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.btn-rsvp {
    width: 150px;
}

.clear-btn {
    background-color: lightcoral;
    color: white;
}

.radio-buttons {
    display: inline-flex;
    align-items: center;
}

#exampleMessage {
    height: 150px;
}

/* Footer */

footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info p {
    margin: 5px 0;
    text-align: center;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

.logo {
    display: inline-block;
    margin: 10px;
    /* float: left; */
}

.logo img {
    height: 100px;
    vertical-align: middle;
    /* float: left; */
}

img#KM_lb,
#pth {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-top: 30px;
}

.poem {
    /* font-family: Georgia, serif; */
    font-size: 17px;
    line-height: 1.4em;
    color: #333;
    border-left: 4px solid #999;
    padding-left: 40px;
    margin: 20px 0;
    text-align: left;
    margin-top: 40px;
}

.poem-author {
    padding-left: 10px;
    font-size: 15px;
}



/* new navbar */
#my-nav nav {
    background-color: #444;
    padding: 10px 0;
}

#menu-wrap {
    margin: 0 auto;
}

#menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#menu>li {
    position: relative;
    /* width: 150px; */
    width: 100%;
    margin-bottom: 0;
}

#menu>li:first-child>a {
    text-transform: uppercase;
    font-variant: small-caps;
    cursor: pointer;
}

#menu>li>a {
    border: 2px solid transparent;
}

#menu>li:focus-within,
#menu>li:hover>a {
    border-bottom: 2px solid #c6c6c6;
}


#menu>li>a {
    color: #4E195F;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

#menu>li:hover>a {
    /* background-color: #444; */
    background-color: #2c3e50;
    /* color: #0FA0CE; */
    color: #c6c6c6;
}

#menu>li:hover .icon-menu {
    fill: #c6c6c6;
}

#menu ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    /* background-color: #444; */
    background-color: #2c3e50;
    text-align: center;
    width: 100%;
    max-height: 0;
    transition: all 0.3s ease-in-out;
}

#menu ul li {
    /* background-color: #444; */
    background-color: #2c3e50;
    width: 100%;
    margin-bottom: 0;
}

#menu ul li a {
    /* color: #0FA0CE; */
    color: #c6c6c6;
    display: block;
    text-decoration: none;
    text-align: center;
}

#menu ul li:hover a {
    color: #0FA0CE;
    background-color: #444;
}

#menu li:hover>ul {
    display: block;
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: none;
}

#menu li:hover>ul li:hover a {
    background-color: #c6c6c6;
    color: #2c3e50;
}

@media screen and (max-width: 480px) {

    #exampleMessage {
        height: 220px;
    }

    #my-nav nav {
        position: relative;
    }

    #menu {
        flex-wrap: wrap;
    }

    #menu>li {
        width: 100%;
        min-width: 200px;
        max-width: 400px;
    }

    #menu>li:nth-child(3n+1) {
        clear: left;
    }

    #menu ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 0.3s ease-in-out;
        width: auto;
    }

    #menu li.active>ul {
        display: block;
        max-height: 500px;
        position: absolute;
        top: 100%;
        left: 0;
    }

    #menu ul li {
        display: block;
        width: 100%;
    }

    #menu li ul li {
        width: auto;
        display: block;
        text-align: center;
    }
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    /* background-color: #4E195F; */
    border-radius: 8px;
    background-color: #888;
}

body::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f4f4f4;
}




/* Accordion */

.panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #f2f2f2;
    border-style: solid;
    /* background-color: #f2f2f2; */
    background-color: #2c3e50;
    color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
}

.panel-header h5 {
    margin: 0;
}

.panel-arrow {
    /* width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333;
    margin-right: 10px; */
    transition: transform 0.1s ease;
}

.panel-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease;
    background-color: #f2f2f2;
}

.panel.active .panel-header .panel-arrow {
    transform: rotate(90deg);
}

.panel.active .panel-content {
    padding: 1rem;
    max-height: 500px;
    transition: max-height 0.2s ease;
}