{% if lang == 'en' %}
<div class="modal" id="modal-menu">
    <div class="container modal-content">
        <span class="close-menu">&times;</span>
        <h2>Entrée</h2>
        <div class="row">
            <div class="twelve columns">
                <p>Braised Short Ribs in a Chianti Wine Reduction</p>
                <p><small><i>or</i></small></p>
                <p>Grilled North Atlantic Swordfish topped with a Fruit Salsa</p>
                <p><small><i>or</i></small></p>
                <p>Wild Mushroom Ravioli in a Porcini Mushroom Cream Sauce</p>
                <hr>
                <p>Children's Meal - Chicken Tenders with French Fries</p>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="modal" id="modal-menu">
    <div class="container modal-content">
        <span class="close-menu">&times;</span>
        <h2>Plato principal</h2>
        <div class="row">
            <div class="twelve columns">
                <p>Tira de asado de ternera en una reducción de vino Chianti</p>
                <p><small><i>o</i></small></p>
                <p>Emperador del Atlántico Norte a la parrilla con salsa de frutas</p>
                <p><small><i>o</i></small></p>
                <p>Ravioli de champiñones silvestres en una salsa cremosa de hongos porcini</p>
                <hr>
                <p>Menú infantil - Pechuga de pollo frito con patatas fritas</p>
            </div>
        </div>
    </div>
</div>
{% endif %}
