<div class="modal" id="modal-menu">
    <div class="container modal-content">
        <span class="close-menu">&times;</span>
        <h2>Menu</h2>
        <!-- <div class="row">
            <div class="three columns">
                <h5 style="text-decoration: underline;">Meat</h5>
                <ul class="c-left">
                    <li>Una cosa</li>
                    <li>Y otra</li>
                    <li>Y otra más</li>
                </ul>
            </div>
            <div class="three columns">
                <h5>Fish</h5>
            </div>
            <div class="three columns">
                <h5>Vegan</h5>
            </div>
            <div class="three columns">
                <h5>Child Menu</h5>
            </div>
        </div> -->
        <p>More information soon</p>
    </div>
</div>