{% extends 'base.html' %}

{% block title %}Wedding K&M - Work in progress{% endblock %}

{% block main %}
<div class="container">
    <h1>Admin dashboard</h1>
    <div class="row">
        <div class="twelve columns">
            <a href="/register" class="button">Register new admin</a>
            <a href="/guests" class="button">Guests</a>
            <a href="/table" class="button">Table Pandas</a>
            <a href="/logout" class="button">Logout</a>
        </div>
    </div>
</div>
{% endblock %}