{% extends 'base.html' %}

{% block title %}Wedding K&M - Guests{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}


{% block main %}
<div class="container">
    <h2>Guests answers</h2>
</div>
<div class="row" style="padding: 1rem;">
    <div class="twelve columns">
        <table id="table-guests" class="u-full-width">
            <thead>
                <tr>
                    {% for key in data[0].keys() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    {% for value in row.values() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <!-- <tfoot>
            <tr>
                <td>no foot</td>
            </tr>
        </tfoot> -->
        </table>
    </div>
</div>
<div class="container">
    <a href="/logout" class="button">Logout</a>
    <a href="/table" class="button button-primary">Pandas table</a>
</div>

{% endblock %}