{% extends 'es/base_es.html' %}

{% block title %}Boda K&M - Nosotros{% endblock %}

{% block main %}
<div class="container">
    <h2>Nosotros</h2>
    <p><i>Katherine y Miguel se conocieron en Madrid, cuando Katherine estaba allí de vacaciones con una buena amiga. Tratándose de una relación a distancia, tuvieron que permanecer en contacto por medio de mensajes, correos electrónicos y videollamadas.</i></p>
    <p>Compartir poemas y canciones fue la manera de comunicar nuestros sentimientos en la distancia. El siguiente poema es excepcionalmente especial para nosotros, ya que habla del "sueño" de estar juntos cuando se está separados. Nos sentimos muy afortunados de que vayáis a compartir este fin de semana tan especial con nosotros, ahora que felizmente acortamos la distancia para siempre.</p>
    <div class="row">
        <div class="six columns">
            <img id="pth" src="{{ url_for('static', filename='images/PXL_20230408k.jpg') }}" alt="pathways" style="padding-top: 10px;">
        </div>
        <div class="six columns">
            <blockquote class="poem">
                <h4><i>Pathways </i><p class="poem-author">Rainer Maria Rilke</p></h4>
                <p>
                    Understand, I&apos;ll slip quietly <br>
                    away from the noisy crowd <br>
                    when I see the pale <br>
                    stars rising, blooming, over the oaks. <br>
                    <br>
                    I&apos;ll pursue solitary pathways <br>
                    through the pale twilit meadows, <br>
                    with only this one dream: <br>
                    <br>
                    <i>You come too</i>.<br>
                </p>
            </blockquote>
        </div>

    </div>

</div>
{% endblock %}