<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_modal.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='pics/favicon.png') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/contact.js') }}"></script>
    {% block head %}{% endblock %}
</head>

<body>
    {% block header %}
    <header>
        <div class="logo">
            <a href="/es">
                <img src="{{ url_for('static', filename='pics/logoKM.png') }}" alt="Logo">
            </a>
        </div>
        <h1 class="title">Nuestra Boda</h1>
        <nav>
            <a href="/es">Inicio</a>
            <a href="/es/about">Sobre Nosotros</a>
            <a href="/es/rehearsal">Cena de Ensayo</a>
            <a href="/es/ceremony">Ceremonia</a>
            <a href="/es/reception">Cena</a>
            <a href="/es/pending">¿Más?</a>
            <a href="/es/rsvp">Confirma Asistencia</a>
            <a class="mano modal-btn">Contacto</a>
        </nav>
        <a href="/" class="button" onclick="document.cookie='lang=en';location.reload()" style="font-weight: bold; color:#4E195F; border-width: 3px; border-style: groove;">English</a>
    </header>
    {% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}
    <footer>
        <div class="footer-info">
            <section id="contact">

                <!-- modal here -->
                <div class="modal" id="contact-modal">
                    <div class="container modal-content">
                        <span class="close">&times;</span>
                        <h2>Información de contacto</h2>
                        <p>Email: <a href="mailto:migkat23@gmail.com">migkat23@gmail.com</a></p>
                        <p>Teléfono: <a href="tel:+14046121182">+1 (401) 612-1182</a></p>
                    </div>
                </div>
                <!-- end -->

                <p><strong>Contact us:</strong><br>
                    <a href="mailto:contact@ourwedding.com">contact@ourwedding.com</a><br>
                    123-456-7890 (Katherine) <br> 123-456-7890 (Miguel)
                </p>
            </section>
            <p>&copy; 2023 Our Wedding</p>
        </div>
        <blockquote>
            "Love is patient, love is kind. It does not envy, it does not boast, it is not proud. It does not dishonor
            others, it is not self-seeking, it is not easily angered, it keeps no record of wrongs. Love does not
            delight in evil but rejoices with the truth. It always protects, always trusts, always hopes, always
            perseveres." - 1 Corinthians 13:4-7
        </blockquote>
        {% block last_updated %} {% endblock %}
    </footer>
    {% endblock %}

    {% block scripts %}{% endblock %}
</body>

</html>