<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'elements/head.html' %}
    {% block head %}{% endblock %}
</head>

<body>
    <header id="main-header-es">
        <div class="row u-full-width upper-header">
            <div class="one-third column">
                <nav><a href="/" class="u-pull-left" style="word-spacing: -2.5px;"
                        onclick="document.cookie='lang=en';location.reload()">EN | <u>ES</u></a></nav>
            </div>
            <div class="one-third column upper-header">
                <div class="logo">
                    <a href="/es">
                        <img src="{{ url_for('static', filename='images/logoKM.png') }}" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="one-third column">
                <nav><a class="mano modal-btn u-pull-right">Contacto</a></nav>
            </div>
        </div>
        <h1 class="title">Nuestra Boda</h1>

        {% include 'elements/wrap_es.html' %}
        {% block header %}{% endblock %}
    </header>


    {% block main %}{% endblock %}

    <footer>
        {% block footer %}{% endblock %}
        <div class="footer-info">
            <section id="contact">
                <p><strong>Contact us:</strong><br>
                    <a href="mailto:contact@ourwedding.com">contact@ourwedding.com</a><br>
                    123-456-7890 (Katherine) <br> 123-456-7890 (Miguel)
                </p>
            </section>
            <p>&copy; 2023 Our Wedding</p>
        </div>
        <blockquote style="text-align: center;">
            "Love is patient, love is kind. It does not envy, it does not boast, it is not proud. It does not dishonor
            others, it is not self-seeking, it is not easily angered, it keeps no record of wrongs. Love does not
            delight in evil but rejoices with the truth. It always protects, always trusts, always hopes, always
            perseveres." - 1 Corinthians 13:4-7
        </blockquote>
        {% block last_updated %} {% endblock %}
    </footer>


    <script>
        window.addEventListener('load', function () {
            const header = document.getElementById('main-header-es');
            const styles = window.getComputedStyle(header);
            const original = styles.getPropertyValue('height');
            header.style.height = original;
        });
    </script>
    {% block scripts %}{% endblock %}

    {% block modals %}{% endblock %}
    {% include 'modals/contact_es.html' %}

</body>

</html>