{% extends 'es/base_es.html' %}

{% block title %}Wedding K&M - {% endblock %}

{% block main %}
<div class="container">
    <h2>En construcción...</h2>
    <div class="row">
        <p>Más información próximamente </p>
        <div class="twelve columns">
            <button class="primary" onclick="window.history.back()">Back</button>
        </div>
    </div>
    <img id="carrie-tower" src="{{ url_for('static', filename='images/carrietower_184328.jpg') }}"
        alt="The Carrie Tower" class="u-full-width" style="padding-top: 10px;">
</div>
{% endblock %}