{% if lang == 'en' %}

<div class="accordion">
    <div class="panel">
        <div class="panel-header">
            <h5>Timeline</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p class="date-acc text-acc">Friday, August 11, 2023</p>
                    <p><box-icon name='beer' class="icon"></box-icon> <a href="/rehearsal">Welcome dinner</a> at
                        Narraganset Brewery - 7:00pm</p>
                    <p class="date-acc text-acc">Saturday, August 12, 2023</p>
                    <p class="text-acc"><box-icon name='church' class="icon"></box-icon> <a
                            href="/ceremony">Ceremony</a> at the Catholic Church of St. Sebastian - 3:00pm</p>
                    <p class="text-acc"><box-icon name='party' class="icon"></box-icon> <a
                            href="/reception">Reception</a> at Roger Williams Park Casino - 5:00pm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Transportation</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p class="text-acc"><box-icon name='bus' class="icon"></box-icon> We will update with exact times
                        closer to the date, but we want you to know that we will have transportation to take you from
                        the Residence Inn and the Omni Hotel in Downtown Providence to the ceremony and to the
                        reception. There will also be transportation to return you to those hotels at the end of the
                        reception.</p>
                    <p class="text-acc">On Saturday, bus transportation will be provided to and from the Residence Inn and the Omni Hotel in Downtown Providence to the Church and the reception venue.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Accomodation</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p class="text-acc"><box-icon name='hotel' class="icon"></box-icon> For accomodation please check
                        out the options we suggest at this <a href="/accomodation">link</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="panel">
        <div class="panel-header">
            <h5>Hospitality Room</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <p>Content 3</p>
        </div>
    </div> -->
</div>

{% else %}

<div class="accordion">
    <div class="panel">
        <div class="panel-header">
            <h5>Programa</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p><box-icon name='beer' class="icon"></box-icon> <a href="/es/rehearsal">Cena de bienvenida</a> en
                        Narraganset Brewery: viernes 19.00</p>
                    <p><box-icon name='church' class="icon"></box-icon> <a href="/es/ceremony">Ceremonia</a> en la
                        iglesia católica de St. Sebastian: sábado 14.30</p>
                    <p><box-icon name='party' class="icon"></box-icon> <a href="/es/reception">Recepción</a> en el
                        Casino del Parque Roger Williams: sábado 17.00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Transporte y alojamiento</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p><box-icon name='bus' class="icon"></box-icon> Habrá un servicio de autobús entre el centro de la
                        ciudad, la iglesia y el lugar de la recepción</p>
                    <p><box-icon name='hotel' class="icon"></box-icon> Para información sobre alojamiento </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Cuarto de hospitalidad</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <p>Content 3</p>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Other</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <p>Content 3</p>
        </div>
    </div>
</div>

{% endif %}