<div class="accordion">
    <div class="panel">
        <div class="panel-header">
            <h5>Transport</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p>Content</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Timeline</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <p>Content 2</p>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Hospitality Room</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <p>Content 3</p>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Other</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <p>Content 3</p>
        </div>
    </div>
</div>