{% if lang == 'en' %}

<div class="accordion">
    <div class="panel">
        <div class="panel-header">
            <h5>Timeline</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p class="date-acc text-acc">Friday, August 11, 2023</p>
                    <p><box-icon name='beer' class="icon"></box-icon> <a href="/rehearsal">Welcome dinner</a> at
                        Narraganset Brewery - 7:00pm</p>
                    <p class="date-acc text-acc">Saturday, August 12, 2023</p>
                    <p class="text-acc"><box-icon name='church' class="icon"></box-icon> <a
                            href="/ceremony">Ceremony</a> at the Catholic Church of St. Sebastian - 2:30pm</p>
                    <p class="text-acc"><box-icon name='party' class="icon"></box-icon> <a
                            href="/reception">Reception</a> at Roger Williams Park Casino - 5:00pm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Transportation</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p class="text-acc"><box-icon name='bus' class="icon"></box-icon> We will update with exact times
                        closer to the date, but we want you to know that on Saturday bus transportation will be provided
                        from the Residence Inn and the Omni Hotel in Downtown Providence to the Church and the reception
                        venue. There will also be transportation to return you to those hotels at the end of the event.
                    </p>
                    <p class="text-acc"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Accomodations</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p class="text-acc"><box-icon name='hotel' class="icon"></box-icon> For accomodations, please check
                        out the options we suggest at this <a href="/accomodation">link</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Arriving to Providence</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p><box-icon type='solid' name='plane-alt' class="icon"></box-icon> You can reach Providence by
                        flying directly to Providence or Boston. See below for some considerations.</p>
                    <p class="text-acc"><strong>Providence</strong> - There are no direct flights between Miami
                        International Airport and Providence T.F. Green Airport. You will need to connect, most
                        conenctions are through DC or Charlotte and are rather short and smooth. If you fly from Ft
                        Lauderdale Airport, Jet Blue has a non stop flight to T.F. Green. Having said that, the airport
                        in Providence is very nice, not crowded at all, and 15 to 20 minutes to Dowtown Providence and
                        the hotels.<br>
                        <strong>Boston</strong> - There are direct flights from Miami International and Ft. Lauderdale
                        airports to Boston Logan Airport. Boston Logan is about 52 miles from Providence. If driving, it
                        could take between 1.5-2 hours, depending on traffic. There are trains and buses that can take
                        you from Boston to Providence, please reach out to us if you're considering those routes, as we
                        have lots of experience riding those railways.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="accordion">
    <div class="panel">
        <div class="panel-header">
            <h5>Programa</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p class="date-acc text-acc">Viernes, 11 de agosto de 2023</p>
                    <p><box-icon name='beer' class="icon"></box-icon> <a href="/es/rehearsal">Cena de bienvenida</a> en
                        Narraganset Brewery - 19:00</p>
                    <p class="date-acc text-acc">Sábado, 12 de agosto de 2023</p>
                    <p class="text-acc"><box-icon name='church' class="icon"></box-icon> <a
                            href="/es/ceremony">Ceremonia</a> en la iglesia católica de Saint Sebastian - 14:30</p>
                    <p class="text-acc"><box-icon name='party' class="icon"></box-icon> <a
                            href="/es/reception">Recepción</a> en el Casino del Parque Roger Williams - 17:00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Transporte</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p class="text-acc"><box-icon name='bus' class="icon"></box-icon> Más adelante actualizaremos las
                        horas exactas, pero queremos que sepáis que el sábado se dispondrá de un servicio de autobús
                        para llevar a los invitados desde los hoteles Omni y Residence Inn en el centro de Providence a
                        la iglesia y el lugar de la recepción. El mismo servicio llevará a los invitados de vuelta a los
                        hoteles al final del evento.
                    </p>
                    <p class="text-acc"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Alojamiento</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p class="text-acc"><box-icon name='hotel' class="icon"></box-icon> En cuanto al alojamiento durante
                        vuestra estancia en Providence, echad un vistazo a las opciones que sugerimos en el siguiente <a
                            href="/es/accomodation">enlace</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h5>Información práctica</h5>
            <box-icon class="panel-arrow" name='chevron-right' color="#fff"></box-icon>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="twelve columns c-left">
                    <p><box-icon name='anchor' class="icon"></box-icon> Providence es la capital del estado de Rhode Island, el más pequeño de Estados Unidos y el primero de las Trece Colonias originales en declarar su independencia en 1776. Forma parte de la región conocida como Nueva Inglaterra y es una de las zonas del país más ricas en historia y cultura, con una idiosincrasia muy particular y distinta del resto del país.<br> Roger Williams está considerado como el primer colono y fundador de Rhode Island y la ciudad de Providence, tras desembarcar y establecerse en esta orilla del río Seekonk en 1636.</p>
                    <p>Si no estás familiarizado con Estados Unidos y no has viajado nunca aquí, vamos a incluir algo de información variada que esperamos que pueda ayudarte:</p>

                    <p><box-icon type='solid' name='plane-alt' class="icon"></box-icon> <strong>Antes</strong><br>
                        Como ya habrás visto, la manera más fácil de llegar desde España es a través del aeropuerto Logan International de Boston. En cualquier caso, considera esto antes de venir: <br>
                    <ul style="list-style: inside;">
                        <li>Asegúrate de tener el pasaporte en regla.</li>
                        <li>En circunstancias normales, cualquier ciudadano español puede viajar a Estados Unidos con el ESTA: un documento equivalente al visado turístico. Es muy fácil de obtener, simplemente entra en la web oficial (la URL termina en .gov), rellena la información, paga una pequeña tasa y en unas 24h o menos deberías estar autorizado.
                        </li>
                        <li>A la hora de viajar en avión, te recomiendo que lleves impresos tanto el ESTA autorizado, como el billete de vuelta a España (el email de confirmación, la reserva o algo por el estilo). Además, asegúrate de llevar a mano la dirección del lugar donde vas a alojarte.
                        </li>
                        <li>Seguro médico/de viaje: Considera la posibilidad de contratar un seguro que cubra atención médica básica.
                        </li>
                        <li>Ya no es necesario presentar ningún certificado de vacunación.</li>
                    </ul>
                    </p>
                    
                    <p><box-icon name='pin' class="icon"></box-icon> <strong>Durante</strong> <br>
                        Algunos aspectos prácticos:
                        <ul> 
                            <li>Enchufes: vas a necesitar un adaptador para conectar cualquier aparato, cargador, etc. a la red eléctrica.</li> 
                            <li>Dinero: en casi todos los sitios a los que vayas vas a poder pagar con tarjeta. Si te dicen que no funciona, avísales de que es necesario que introduzcas un PIN. Algunas máquinas de pago automáticas (como gasolineras o en el metro) pueden solicitar tu código postal, que generalmente será el 00000.</li>
                            <li>Propinas: en los restaurantes y otros establecimientos con servicio de mesa el camarero va a esperar una propina no inferior a alrededor de un 15% sobre el precio previo a la aplicación de los impuestos. En establecimientos sin servicio de mesa (por ejemplo, heladerías, cafeterías, etc.), la propina puede ser de 1 o 2 dólares e incluso omitirse.
                            </li>
                            <li>Moverse por Providence: la ciudad es muy segura en todas las zonas en las que previsiblemente estaréis (principalmente Downtown y East Side) y para distancia cortas no hay problema en ir caminando. Para el resto, la ciudad cuenta con varias líneas de autobuses, se puede encontrar la información en la web de RIPTA. En la mayor parte de los casos el mejor modo de trasladarse será con Uber o Lift, un viaje de unos 10 minutos en coche costaría entre alrededor de 7 y 15 dólares.
                            </li>
                            <li>En muchos bares es posible que te soliciten un documento para verificar que eres mayor de 21 años. En la mayor parte de los sitios basta con el carnet de conducir español, pero en algunos pueden llegar a requerir el pasaporte.</li>
                            <li>Algunas recomendaciones para comer y/o beber y sitios para visitar: 
                                <ul>
                                    <li><u>Comer</u>: Tallulah (comida mexicana), Aguardente (comida portuguesa), Trinity Brewhouse (pub), Pizza Marvin, Pickerel (ramen), Harry's Bar & Burger.</li>
                                    <li><u>Beber</u>: Wild Colonial Tavern, The Eddy, The Boombox at The Dean Hotel, Providence GPub, Trinity Beer Garden, Long Live Beerworks, Moniker Brewery, Bayberry Beer Hall, McBride's Pub, Captain Seaweed, Wickenden Pub, The East End, Hot Club.</li>
                                    <li><u>Visitar</u>: campus principal de la Brown University, RISD Museum, India Point Park, Rhode Island State House, Prospect Terrace, Federal Hill.</li>
                                    <li><u>Playa</u>: la playa más cercana a la ciudad está en el pueblo de Barrington, a unos 25 minutos en coche. Otras playas mejores están más lejos (como en Narragansett o Newport).</li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <p><box-icon type='solid' name='directions' class="icon"></box-icon> <strong>Después</strong> <br>
                        Si vas a permanecer varios días por la zona antes o después de la boda, estas son algunas sugerencias de lugares para visitar fuera de Providence:
                        <ul>
                            <li>Boston, Massachussets</li>
                            <li>Newport, Rhode Island</li>
                            <li>Cape Cod, Massachussets</li>
                            <li>Long Island, New York</li>
                            <li>New York City, New York</li>
                        </ul>
                        Son solo algunas ideas, en cualquier caso, si decides quedarte puedes contactarnos para hablar de recomendaciones más personalizadas, por ejemplo sobre otros lugares de interés, dónde alquilar un coche o viajes en tren o en ferry.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}