<div id="small-header" style="margin-bottom: 200px;">
    <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='images/logoKM.png') }}" alt="Logo">
        </a>
    </div>

    <nav id="my-nav">
        <div id="menu-wrap">
            <ul id="menu">
                <li>
                    <a><box-icon class="icon-menu" name='menu'></box-icon> Wedding Information</a>
                    <ul>
                        <li><a href="#">Accomodation</a></li>
                        <li><a href="/rehearsal">Welcome Dinner</a></li>
                        <li><a href="/ceremony">Ceremony</a></li>
                        <li><a href="/reception">Reception</a></li>
                    </ul>

                </li>
            </ul>
        </div>
    </nav>
</div>