{% with lang=lang %}
{% include 'elements/nav-tabs.html' %}
{% endwith %}

{% if lang == 'en' %}

<nav id="my-nav">
    <div id="menu-wrap">
        <ul id="menu">
            <li>
                <a><box-icon class="icon-menu" name='menu'></box-icon> Wedding Information</a>
                <ul>
                    <li><a href="#">Accomodation</a></li>
                    <li><a href="/rehearsal">Welcome Dinner</a></li>
                    <li><a href="/ceremony">Ceremony</a></li>
                    <li><a href="/reception">Reception</a></li>
                </ul>

            </li>
        </ul>
    </div>
</nav>

{% else %}

<nav id="my-nav">
    <div id="menu-wrap">
        <ul id="menu">
            <li>
                <a><box-icon class="icon-menu" name='menu'></box-icon> Información de la boda</a>
                <ul>
                    <li><a href="#">Alojamiento</a></li>
                    <li><a href="/es/rehearsal">Cena de bienvenida</a></li>
                    <li><a href="/es/ceremony">Ceremonia</a></li>
                    <li><a href="/es/reception">Recepción</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

{% endif %}
