<nav>
    <a href="/es"><box-icon class="icon-home" name='home'></box-icon></a>
    <a href="/es/about">Nosotros</a>
    <!-- <a href="/rehearsal">Welcome Dinner</a> -->
    <!-- <a href="/ceremony">Ceremony</a> -->
    <!-- <a href="/reception">Reception</a> -->
    <a href="#">¿Más?</a>
    <a href="/es/rsvp">RSVP</a>
    <!-- <a class="mano modal-btn">Contacto</a>
    <a href="/" style="word-spacing: -2.5px;" onclick="document.cookie='lang=en';location.reload()">EN | <u>ES</u></a> -->
</nav>
<!-- <nav>
    <a class="mano modal-btn">Contacto</a>
    <a href="/" style="word-spacing: -2.5px;" onclick="document.cookie='lang=en';location.reload()">EN | <u>ES</u></a>
</nav> -->

<nav id="my-nav">
    <div id="menu-wrap">
        <ul id="menu">
            <li>
                <a><box-icon class="icon-menu" name='menu'></box-icon> Día de la boda</a>
                <ul>
                    <li><a href="#">Alojamiento</a></li>
                    <li><a href="/es/rehearsal">Cena de bienvenida</a></li>
                    <li><a href="/es/ceremony">Ceremonia</a></li>
                    <li><a href="/es/reception">Recepción</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- <div class="button-group">
    <a class="mano modal-btn button btn-rsvp"
        style="font-weight: bold; color:#4E195F; border-width: 3px; border-style: groove;">Contact Us</a>
    <a href="/" class="button btn-rsvp" onclick="document.cookie='lang=en';location.reload()"
        style="font-weight: bold; color:#4E195F; border-width: 3px; border-style: groove;">English</a>
</div> -->