<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_modal.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='pics/favicon.png') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/contact.js') }}"></script>
    {% block head %}{% endblock %}

    <!-- <div class="modal" id="contact-modal">
        <div class="container modal-content">
            <span class="close">&times;</span>
            <h2>Contact Information</h2>
            <p>Email: <a href="mailto:migkat23@gmail.com">migkat23@gmail.com</a></p>
            <p>Phone: <a href="tel:+14046121182">+1 (401) 612-1182</a></p>
        </div>
    </div> -->
</head>

<body>
    {% block header %}
    <header>
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='pics/logoKM.png') }}" alt="Logo">
            </a>
        </div>
        <h1 class="title">Our Wedding</h1>
        <!-- <nav>
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/rehearsal">Welcome Dinner</a>
            <a href="/ceremony">Ceremony</a>
            <a href="/reception">Reception</a>
            <a href="#">More?</a>
            <a href="/rsvp">RSVP</a>
            <a class="mano modal-btn">Contact Us</a>
        </nav>
        <a href="/es" class="button" onclick="document.cookie='lang=es';location.reload()"
            style="font-weight: bold; color:#4E195F; border-width: 3px; border-style: groove;">Español</a> -->
        {% include 'elements/wrap.html' %}
    </header>
    {% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}
    <footer>
        <div class="footer-info">
            <section id="contact">

                {% block modals %}{% endblock %}
                <!-- modal here -->
                <!-- <div class="modal" id="contact-modal">
                    <div class="container modal-content">
                        <span class="close">&times;</span>
                        <h2>Contact Information</h2>
                        <p>Email: <a href="mailto:migkat23@gmail.com">migkat23@gmail.com</a></p>
                        <p>Phone: <a href="tel:+14046121182">+1 (401) 612-1182</a></p>
                    </div>
                </div> -->
                <!-- end -->

                <p><strong>Contact us:</strong><br>
                    <a href="mailto:contact@ourwedding.com">contact@ourwedding.com</a><br>
                    123-456-7890 (Katherine) <br> 123-456-7890 (Miguel)
                </p>
            </section>
            <p>&copy; 2023 Our Wedding</p>
        </div>
        <blockquote style="text-align: center;">
            "Love is patient, love is kind. It does not envy, it does not boast, it is not proud. It does not dishonor
            others, it is not self-seeking, it is not easily angered, it keeps no record of wrongs. Love does not
            delight in evil but rejoices with the truth. It always protects, always trusts, always hopes, always
            perseveres." <br> <i>1 Corinthians 13:4-7</i>
        </blockquote>
        {% block last_updated %} {% endblock %}
    </footer>
    {% endblock %}

    <script>
        // Get all the parent li elements
        var parentListItems = document.querySelectorAll('#menu > li');

        // Add click event listeners to each parent li element
        parentListItems.forEach(function (parentListItem) {
            parentListItem.addEventListener('click', function (event) {
                // Get all the submenu elements inside the clicked parent li element
                var subMenu = this.querySelector('ul');

                // If the clicked parent li element has a submenu
                if (subMenu) {
                    // subMenu.style.width = subMenu.scrollWidth + "px";
                    // Toggle the active class on the submenu
                    subMenu.classList.toggle('active');

                    // Check if the clicked parent li element is already active
                    if (this.classList.contains('active')) {
                        // If it is, close the open submenu
                        subMenu.classList.remove('active');
                    }

                    // Toggle the active class on the clicked parent li element
                    this.classList.toggle('active');

                    // Add a click event listener to the document that will close the submenu when clicked
                    document.addEventListener('click', closeSubMenu);

                    // Define a function to close the submenu
                    function closeSubMenu(event) {
                        // If the clicked element is not inside the submenu or the clicked element is the submenu itself
                        if (!subMenu.contains(event.target) || event.target == subMenu) {
                            // Remove the active class from the submenu
                            subMenu.classList.remove('active');

                            // Remove the active class from the parent li element
                            parentListItem.classList.remove('active');

                            // Remove the click event listener from the document
                            document.removeEventListener('click', closeSubMenu);
                        }
                    }
                } else {
                    // If the clicked parent li element does not have a submenu, remove the active class from the parent li element
                    this.classList.remove('active');
                }
            });
        });



    </script>
    {% block scripts %}{% endblock %}
</body>

</html>