{% extends 'base.html' %}

{% block title %}Wedding K&M RSVP Confirmation{% endblock %}

{% block main %}

{% if lang == 'en' %}
<div class="container">
    <h2>RSVP Confirmation</h2>
    <h4>Thank you for your RSVP, {{ name }}!</h4>
    <p>We look forward to seeing you at the event.</p>
    <button onclick="window.location.href = '/'">Home</button>
</div>

{% else %}
<div class="container">
    <h2>Confirmado</h2>
    <h4>Thank you for your RSVP, {{ name }}!</h4>
    <p>We look forward to seeing you at the event.</p>
    <button onclick="window.location.href = '/es'">Inicio</button>
</div>

{% endif %}

{% endblock %}