{% extends 'base.html' %}

{% block title %}Wedding K&M - Guests{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}


{% block main %}
<div class="container">
    <h2>Welcome to Our Wedding Site</h2>

    <table class="u-full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Total Guests</th>
                <th>Yes/No</th>
            </tr>
        </thead>
        {% for row in data %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}