{% extends 'base.html' %}

{% block title %}Wedding K&M - Home{% endblock %}

{% block main %}
<div class="container">
    <h2>Welcome to Our Wedding Site</h2>

    <!-- <h4>Katherine & Miguel</h4> -->
    <!-- <h5>August 12, 2023</h5> -->

    <p>We are so excited to share our special weekend with you! We know people are coming from far away and so we put together some information to help you start planing. We will update this website periodically before the Big Day, be sure to keep checking.</p>
    <p> Please use the navigation links for more information and contact us with any questions you may have.</p>
    <p>We can't wait to celebrate with you in the Ocean State!</p>
    <!-- <p>Please RSVP by mm-dd so we can provide a final head count to the venue.</p> -->

    {% with lang=lang%}
        {% include 'elements/accordion.html' %}
    {% endwith %}
    <!-- <img id="KM_lb" src="{{ url_for('static', filename='images/IMG-1835.jpg') }}" alt="Katherine & Miguel"> -->
    <img id="KM_lb" src="{{ url_for('static', filename='images/IMG_1659_NER_mk.jpg') }}" alt="Katherine & Miguel">
</div>
{% endblock %}

<footer>
    {% block last_updated %}
    <div class="row">
        <small class="u-pull-right">Last updated: {{ last_updated.strftime('%Y-%m-%d %H:%M:%S UTC') }}</small>
    </div>
    {% endblock %}
</footer>

{% block scripts %}{% endblock %}