{% extends 'base.html' %}

{% block title %}Wedding K&M - Home{% endblock %}

{% block main %}
<div class="container">
	<h2>Welcome to Our Wedding Site</h2>
	<p>We are excited to share our special day with you. Please use the navigation links above to learn more about us, RSVP, view our photo gallery, and contact us with any questions you may have. We look forward to celebrating with you!</p>

    <img id="KM_lb" src="{{ url_for('static', filename='pics/IMG-4332.jpg') }}" alt="KM_lb">
</div>
{% endblock %}
