{% extends 'base.html' %}

{% block title %}Wedding K&M - Reception{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h2>Reception</h2>
        </div>
    </div>


    <div class="row" style="text-align: left;">
        <div class="six columns">
            <h4>Date and Time</h4>
            <p>September 10, 2023 at 6:00pm</p>

            <h4>Location</h4>
            The Grand Ballroom<br>
            123 Main St<br>
            Anytown, USA</p>

            <h4>Dress Code</h4>
            <p>Semi-formal attire is requested.</p>

            <h4>Menu</h4>
            <p>Our delicious menu will feature:</p>
            <ul>
                <li>Appetizers</li>
                <li>Salads</li>
                <li>Entrees</li>
                <li>Desserts</li>
                <li>Beverages</li>
            </ul>
        </div>
    </div>

    <!-- add any additional information here -->

    <aside>
        <p>que se hace aqui</p>
        <!-- add a picture or any other content for the sidebar here -->
    </aside>
</div>

{% endblock %}