{% extends 'base.html' %}

{% block title %}Wedding K&M - Welcome Dinner{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h2>Welcome Dinner</h2>
			<p>Join us for an informal welcome dinner to kick off the wedding weekend!</p>
            <p>Narraganset Brewery is a well known taproom and a popular meeting place for neighbors. We have enjoyed several pints here (for example, right now as we type this &#128540;), so it&apos;s meaningful to us that we start our wedding weekend here with you all! </p>
        </div>
    </div>

    <div class="row c-left">
        <div class="six columns">
            <h4>Date and Time</h4>
            <p>Friday, August 11, 2023<br>
                7:00pm</p>

            <h4>Location</h4>
            <p>Narragansett Brewery<br>
                271 Tockwotton Street<br>
                Providence, RI </p>

            <h4>Parking</h4>
            <p>There is a parking lot for customers.</p>

        </div>

        <div class="six columns">
            <img src="{{ url_for('static', filename='images/C8207C35-NB.jpg') }}" alt="Narraganset Beer"
                class="u-full-width" style="padding: 10px;">
        </div>
    </div>
    <div style="width: 100%; height: 400px">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.454271913258!2d-71.39261118456075!3d41.81851527922688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e4436a524a4711%3A0x9eb07a381109d4d2!2sNarragansett%20Brewery!5e0!3m2!1ses!2sus!4v1683135657745!5m2!1ses!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}