{% extends 'base.html' %}

{% block title %}Wedding K&M - Work in progress{% endblock %}

{% block main %}
<div class="container">
    <h2>Work in progres...</h2>
    <div class="row">
        <p>More information soon</p>
        <div class="twelve columns">
            <button class="primary" onclick="window.history.back()">Back</button>
        </div>
    </div>

    <img id="carrie-tower" src="{{ url_for('static', filename='images/carrietower_184328.jpg') }}"
        alt="The Carrie Tower" class="u-full-width" style="padding-top: 10px;">

</div>
{% endblock %}